.aboutText{
	margin-top: 10%;
	font-size: 2vw;
}

.aboutReplaceImage{
	font-size: 2vw;
}

/* .aboutStatement1{
	background-color: rgb(140, 140, 140);
	opacity: 1;
}

.aboutStatement2{
	background-color: rgb(191, 191, 191);
	opacity: 1;
} */

.aboutHeading{
	font-size: : 4vh;
}